{% extends 'base.html.twig' %}

{% block title %} Categories {% endblock %}

{% block body %}

{% include '/_navbar.html.twig' %}

	<h1>Toutes les séries de la table program :
	</h1>
	<ul>
		{% for category in categories %}
			<li>
				<a href="{{ path('category_show', { categoryName : category.name }) }}">
					{{category.name}}
				</a>
			</li>

	{% else %}
		</ul>
		Aucune série trouvée.
	{% endfor %}

	<a href="{{ path('app_index') }}">
		Retour à l'accueil
	</a>
{% endblock %}
