{% extends 'base.html.twig' %}

{% block body %}
    <h1>Toutes les séries de la table program : </h1>
    {% for program in programs %}
        <ul>
            <li> {{program.title}} </li>
            <li> {{program.synopsis}} </li>
            <li> {{program.poster}} </li>
        </ul>

    {% else %}
        Aucune série trouvée.
    {% endfor %}

    <a href="{{ path('app_index') }}">
        Retour à l'accueil
    </a>
{% endblock %}