@import "~bootstrap/scss/bootstrap";
@import url('https://fonts.googleapis.com/css2?family=Abril+Fatface&family=Concert+One&family=Kaushan+Script&display=swap');

$primary: darken(#100e0e, 20%);
$secondary : #565151;
$primary-light: #1f1d1d;
$text: white;
$border: #b00707;
$textbanner: #333333;
$navcolor: #140a0a;



$theme-colors:(
 "primary": $primary,
 "secondary" : $secondary, 
 "primary-light": $primary-light,
 "text" : $text,
 "border" : $border,
 "textbanner" : $textbanner
);



// the ~ allows you to reference things in node_modules

body {
    background-color: $primary;
    color: $text;
    font-family: 'Concert One';
}

/* navbar section */


.navbar {
    background-color: $navcolor;
    color: $text;
}

.navbar-nav > li{
    padding-left:50px;
    padding-right:30px;
    font-size: larger;
  }


.home_banner {
    background-color: $text ;
    color: $textbanner;
}


.welcolme_message{
    font-family: 'Kaushan Script';
    font-size: 43px;
}

.slogan {
    font-family: 'Abril Fatface';
    font-size: 19px;
}

.start-btn {
    font-family: 'Kaushan Script';
    font-size: 20px;
}


.img-background {
    height: 300px;
}