{% extends 'base.html.twig' %}

{% block title %}Wild Series{% endblock %}

{% block body %}

{% include '/_navbar.html.twig'%}

<h1 class="mt-4 d-flex justify-content-center">{{ website }} index</h1>
{% endblock %}