{% extends 'base.html.twig'%}

{% block title %} Wild Series {% endblock %}

{% block body %}

{% include 'program/_navbar.html.twig' %}


    <h1> Saison {{season.number}} de {{season.program.title}} </h1>
    <p> {{season.description}}</p>
{% endblock %}